.form-wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
    padding: 1rem;

}

@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #603f30;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-family: "Michroma", sans-serif;
}

fieldset {
    border: none;
    margin-bottom: 1.5rem;
    text-align: left;
}

legend {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: #555;

}

label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
    color: #714e4e;
    user-select: none;
}

input[type="radio"],
input[type="radio"] {
    margin-right: 0.8rem;
    accent-color: #8b827a;
    width: 18px;
    height: 18px;
    cursor: pointer;
    flex-shrink: 0;
}

button.button:disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .result-container {
        padding: 2rem;
        font-size: 1rem;
    }

    .results-container {
        flex-direction: column;
        align-items: center;
    }

    .results-container>div {
        margin: 1rem 0;
        width: 100%;
    }

    .results-container h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    .results-container ul {
        padding-left: 1rem;
        font-size: 1rem;
    }

    .form-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-box h2 {
        font-size: 2rem;
        text-align: center;

    }

    legend {
        font-size: 1.2rem;
    }

}